<!-- index.njk -->
{% extends "layouts/_master.njk" %}

{% block content %}
        <section class="section">
            <div class="wrapper">
                <h1>Gulp Boilerplate</h1>
                <p class="lead">A boilerplate for building web projects with Gulp 4.x.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto explicabo laborum obcaecati, aliquid, veritatis minima unde quos labore voluptatem reiciendis quod ex officiis? Atque rem, saepe in rerum quasi nemo.</p>
            </div>
        </section><!-- .section -->
{% endblock %}
