    <header class="header" id="header">
        <div class="wrapper">
            <nav class="navbar">
                <a href="index.html" class="logo">Gulp Boilerplate</a>
                <ul class="menu">
                    <li class="menu-item"><a href="index.html">Home</a></li>
                    <li class="menu-item"><a href="index.html">Sample Page</a></li>
                    <li class="menu-item"><a href="index.html">Documentation</a></li>
                </ul>
            </nav>
        </div>
    </header><!-- .header -->
